
     <br>
     <footer class="grey darken-4 page-footer" >
            <div class="">
              <div class="row">
                <div class="col l6 s12">
                  <h5 class="white-text"><a href="/">Unityfreepaidassets</a></h5>
                  <h3 class="grey-text text-lighten-4">Get Everything free of cost <span class="green-text text-green-5">100%</span></h3>
                </div>
                <div class="col l4 offset-l2 s12">
                  <h5 class="white-text">Links</h5>
                  <ul>
                    <li><a class="grey-text text-lighten-3" href="/">Home</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">About</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Privacy Policy</a></li> 
                  </ul>
                </div>
              </div>
            </div>
            <div class="footer-copyright">
              <div class="container">
              © 2020 Copyright Unityfreepaidassets
              <!-- <a class="grey-text text-lighten-4 right" href="#!">More Links</a> -->
              </div>
            </div>
          </footer>