{% extends 'base.html' %}
{% block 'mainbody' %} 


<div class="white center" style="margin:2px 30px;border-radius:20px;padding:5px 10px">
    <h1 class="text"><b>Get paid assets for free</b></h1>
</div>


<div class="grey lighten-1" style="margin:2px 30px;border-radius:20px;padding:5px 10px">
    <div class="row" style="margin:3px 5px">
        {% for x in items %}
            <div class="col m6 l4" style="padding:0px 10px !important;position:relative;"> 
                <div class="white z-depth-2" style="margin-top:10px;height:340px" >
                    <img src="/Media/{{x.image}}" height="230px" width="100%" style=" position:relative;">
                    
                   


                    {% if x.latestversion %}
                      
                    <a  style="border-radius:10px;position:absolute;top:12px;right:25px;z-index:100 !important" class=" grey-text text-darken-3 waves-effect waves-light btn white  pulse"><i style="font-size: 14px;" class="material-icons left green-text text-accent-4">brightness_1</i><b class="text">Latest</b></a>
                    {% endif %}
                    
 
                    {% if x.heading %}
                    <div style="line-height:30px;font-size:23px !important;padding:0px !important;margin:0px !important;padding:3px 8px !important"><a class="indexlinkitem grey-text text-darken-2 text"  href="/{{x.url}}"><b>{{x.heading}}</b></a></div>                    
                    {% else %}
                    <div style="line-height:30px;font-size:23px !important;padding:0px !important;margin:0px !important;padding:3px 8px !important"><a class="indexlinkitem grey-text text-darken-2 text"  href="/{{x.url}}"><b>{{x.title}}</b></a></div>
                    {% endif %}
                    
            </div>
        </div>  
        {% endfor %}
       
      
       
      
 

    </div>
</div>

 


{% endblock 'mainbody' %} 
{% block 'js' %}     
<script>
url = new URL(window.location.href)
var ip = url.searchParams.get('ip')
var userid = url.searchParams.get('userid')
var link = window.location.origin+window.location.pathname
// $.ajax({
//     url:'sessioncompleted', 
//     data:{"ip":ip,"userid":userid,"link":link},
//     success:function(data){
//     console.log(data);
//     }
// })
</script>
{% endblock 'js' %}     