{% extends 'base.html' %}
{% block 'mainbody' %}
<style>
    @media only screen and (max-width : 992px) {
        .breadcrumb-nav {
           display:none;
        }
     }
</style>
<br><br><br><br><br>
<div class="row">
    <div class="col m9 l9 " style="padding:1px 20px !important">
        <div class="white"  style="padding:1px 20px !important">
            <h3 ><b>{{heading}}</b></h3>
            

            <nav class="breadcrumb-nav col s12 truncate green" style="height:40px; line-height: 40px;">
                <div class="nav-wrapper">
                    <div class="col s12">
                      <a href="/" class="breadcrumb">Home</a>
                      <a href="/category/{{parent}}" class="breadcrumb">{{parent}}</a>
                      <a href="/category/{{parent}}/{{maintag}}" class="breadcrumb">{{maintag}}</a>
                      <a href="/" class="breadcrumb">{{heading}}</a> 
                    </div>
                  </div>
                </nav>
<br><br><br>

 
            <div class="row">
                <div class="col m5 l5">
                    <img alt="{{heading}}" heigth="100%" width="100%" src="../../Media/{{image}}" alt="">
                </div>
                <div class="col m7 l7"> 
                    <div style="line-height:25px;font-size:20px">{{miniseo}}You can download this paid asset free of cost. If you want to look at  this on assetstore then this is the link <a target="_blank" href="{{assetstorelink}}"><u>assetstore link!</u></a>. </div>
                    <br>
                    <span ><b>Version:</b> {{version}}</span><br>
                    <span ><b>File Size:</b> {{filesize}}</span> <br>
                    <span><b>Cost:</b><b><span  class="green-text text-darken-1"> 100% free</span></b> </span><br>
                    <!-- <span style="font-size:25px" >● <b><u><a href=""class="green-text text-darken-1">4 similar assets are available for free</a></u></b></span><br> 
                    <span style="font-size:25px" >● <b><u><a class="green-text text-darken-1"href="">232 relevent assets are available for free</a></u></b></span> -->
                    <br> 
                    <div style="display:flex;justify-content:center;align-items:center">
                        <div class="pulse btn red white-text " style="z-index:9999;text-transform:none;width:300px;height:43px;font-size:30px">
                            <a href="#x" class="white-text">free downlaod</a>
                        </div>
                    </div>
                </div>  
            </div>
          
            <h3><b>You May Like</b></h3>
            <div >
                <div class="row">
                    {% for x in bottom1 %}
                       <div class="col m4 l4 s6" style="padding:0px 10px !important;"> 
                            <div class=" z-depth-2" style="margin-top:10px;height:300px" >
                                <img alt="{{x.heading}}" src="../../Media/{{x.image}}" height="200px" width="100%">
                                {% if x.heading %}
                                <div class="" style="line-height:25x;font-size:20px !important;padding:0px !important;margin:0px !important;padding:3px 8px !important"><a href="/{{x.url}}">{{x.heading}}</a></div>
                                
                                {% else %}
                                <div class="" style="line-height:25x;font-size:20px !important;padding:0px !important;margin:0px !important;padding:3px 8px !important"><a href="/{{x.url}}">{{x.title}}</a></div>
                                  
                                {% endif %}
                                
                            </div>
                        </div>  
                     
                    {% endfor %} 
                     
                    
                </div>
            </div>
            <div>
                {% if intro != '' %} 
                <h4>Intro</h4>
                <p class="t18">{{intro}}</p>
                {% endif %}
                {% if description != '' %} 
                <h4>Description</h4>
                <span style="font-size:20px" >{{description|linebreaks}}</span>
                {% endif %}


                {% if compatibility.0  != '' %} 
                <h4>Compatibility</h4>
                {% for x in compatibility %}
                <span class="t18">●  {{x}}</span><br> 
                {% endfor %}
                {% endif %}

                 {% if features1.0  != '' %} 
                <h4>Features</h4>
                {% for x in features1 %} 
                {% if x != "" %}
                <span style="line-height:2" class="t18">{{x|linebreaks}}</span><br>
                {% endif %}
                {% endfor %}
                {% endif %}

                 {% if more.0  != '' %} 
                <h4>More</h4>
                {% for x in more %} 
                {% if x != "" %}
                <span style="line-height:2"  class="t18">{{x|linebreaks}}</span><br>
                {% endif %}
                {% endfor %}
                {% endif %}
                <h1 style="font-size:25px">{{seotags}}</h1>
                
            </div>
        </div><br>
        <div class="white"> 
            
        </div>
        <!-- <div id="x">222</div> -->
    </div>
    <div class="col m3 l3 ">
        <div class="white">
            {% for x in rightbaritems %}
              <div style="font-size: 16px;margin: 0% !important;border-bottom: 0.1rem solid white;">
                <img alt="{{x.heading}}" height="120px" width=120px"  class="responsive-img" src="../../Media/{{x.image}}" style="float: left;margin-right: 10px;margin-top: 5px" alt="">
                {% if x.heading %}
                <p style="margin-top:0%"><a href="/{{x.url}}" target="_blank"><span style="font-weight: 500">{{x.heading}}</span></a></p>
                {% else %}
                <p style="margin-top:0%"><a href="/{{x.url}}" target="_blank"><span style="font-weight: 500">{{x.title}}</span></a></p>
                  
                {% endif %}
                
                
            </div>  <br>
            {% endfor %}
            

         

           

        </div>
    </div>
</div>




{% endblock %}