
{% extends 'base.html' %}
{% block 'mainbody' %}

    <!-- Setting UP ID --> 

<!-- SECTION - USER PROFILE -->
<main style="padding-left: 0% !important;padding: 0px 40px !important;">   
    <br>  
    <br> 
        <div class=" " style="position: relative;margin: 0px  0px;">
          <div id="verifyemaildiv" class="g1 card-panel grey lighten-5" style="margin: 0px;">
            <span class="gradient1 center white-text z-depth-2" style="font-size: 30px;margin: 0px;position: absolute;top:-30px;left: 50px;right: 50px;padding: 5px 10px;">Website under development</span><br>
            
            <br>
            <div style="background-color:rgb(204, 204, 204);border-radius:10px;padding: 10px;">
                <h1 class="grey-text text-darken-3" style="font-size:45px;text-align: center;font-weight: bold;">We are working on back-end of website. <br><br> Website will be LIVE after sometime.</h1>
            </div>
                        
                
      <!-- END PRELOADER -->
      
      
          
    </div>
        </div> 

    <script></script>
     
</main>  

{% endblock 'mainbody' %} 
{% block 'js' %} 
<script> 

</script>
{% endblock 'js' %}     